//-+expandable-checkbox-list('дополнительные удобства', 0, [0,1,1,1],
                    'Завтрак',
                    'Письменный стол',
                    'Стул для кормления',
                    'Кроватка',
                    'Шампунь',
                    'Телевизор',
                    'Шампунь')'

mixin expandable-checkbox-list(title, isExpanded, vals, ...items)
    -titleClass ='expandable-checkbox-list__title'
    -listClass= 'expandable-checkbox-list__list'
    if isExpanded
        -titleClass+=' expandable-checkbox-list__title_expanded'
        -listClass+= ' expandable-checkbox-list__list_show'
    .expandable-checkbox-list
        h3(class=titleClass)=title
        div(class=listClass)
            +checkbox-buttons(vals, ...items)
