mixin navLink(link,name, last)
    li
        if(last)
            a(href=link).nav-link.last-link=name
        else
            a(href=link).nav-link=name



header
    .header
        ul.nav
            +navLink('#', '1')
            +navLink('#', '2')
            +navLink('#', '3')
            +navLink('#', '4', true)
            +navLink('#', '4', true)
        for i in[{link:"#", name: "1"},{link:"#", name: "543"}]
            +navLink(i.link, i, true)