mixin pagination()
    .pagination
        .pagination__container
            a(class='pagination__item pagination__item_selected' href='empty') 1
            a(class='pagination__item' href='empty') 2
            a(class='pagination__item' href='empty') 3
            span.pagination__item.pagination__item_dots ...
            a(class='pagination__item' href='empty') 15
            a(class='pagination__item pagination__item_last'  href='empty') arrow_forward
        div.pagination__text 1 – 12 из 100+ вариантов аренды
        