@import "../../template/template.scss";
.pagination {
  &__container {
    display: flex;
  }
  &__item {
    @include text("h3");
    display: inline-block;
    width: 40px;
    height: 40px;
    text-decoration: none;
    text-transform: none;
    color: $dark-shade50;
    text-align: center;
    line-height: 40px;
    &:hover {
      opacity: 0.5;
    }
    &_dots {
      cursor: default;
      &:hover {
        opacity: 1;
      }
    }
    &_selected {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      color: #fff;
    }

    &_last {
      @include material-font;
      font-size: 24px;
      line-height: 40px;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border-radius: 22px;
      color: #fff;
    }
  }
  &__text {
    margin-top: 8px;
    margin-left: 5px;
  }
}
