@import "../../template/template.scss";
@import '../../styles/body.scss';

.search-room {
  margin-top: 70px;
  padding-top: 25px;
  border-bottom: 1px solid $dark-shade25;
  &__container {
    max-width: 1184px;
    padding: 0 30px 0 30px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 48px;
    margin-bottom: 31px;
  }

  &__filters {
    padding: 0;
    margin: 0 0 0 12px;
    display: grid;
    grid-template-rows: 77px 100px 96px 160px 175px 80px;
    grid-template-columns: 266px;
    &-ico {
      display: none;
    }
  }

  &__rooms {
  }
}
.rooms {
  &__title {
    margin: 5px 0 21px 11px;
  }

  &__container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__item {
    list-style: none;
    margin: 0 0 20.5px 12px;
  }

  &__link {
    text-decoration: none;
  }
  &__pagination {
    margin: 20.5px auto 41px;
    padding-right: 12px;
    max-width: 241px;
  }
}

.filters {
  list-style: none;
  &__description {
    margin-top: 9px;
    margin-bottom: 29px;
    font-size: 12px;
    line-height: 14px;
  }

  &__label {
    margin-bottom: 5px;
  }
}

@media (max-width: 1212px) {
  .rooms__container {
  }
  .search-room__container {
    max-width: 890px;
  }
}

@media (max-width: 950px) {
  body.lock {
  }
  .rooms__item {
    margin-right: 12px;
  }
  .rooms__container {
    justify-content: center;
  }
  .rooms__title {
    margin:11px 12px 21px;
    display: flex;
    justify-content: space-between;
  }
  .search-room {
    &__container {
      display: block;
      max-width: 588px;
    }
    &__filters {
      &-ico,
      &-ico::after {
        @include text("material");
      }
      &-ico,
      &-ico::after {
        text-align: center;
        width: 32px;
        height: 32px;
        border: 1px solid $dark-shade25;
        border-radius: 50%;
        line-height: 32px;
      }
      &-ico {
        flex-shrink: 0;
        display: block;

        &::after {
          opacity: 0;
          transition: opacity 0.2s;
          position: absolute;
          z-index: 3;
          right: 252px;
          top: 100px;
          content: "keyboard_arrow_left";
          font-size: 32px;
        }
        &_active {
          &::after {
            opacity: 1;
          }
        }
      }
      max-width: 0;
      position: absolute;
      right: 0;
      top: 70px;
      z-index: 3;
      transition: max-width 0.3s;
      border-radius: 0 0 0 30px;
      overflow: hidden;
      background-color: #fff;

      &_active {
        padding: 70px 20px 10px;
        max-width: 266px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
@media (max-width: 647px) {
  .search-room__container {
    max-width: 294px;
  }
}