@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand-Bold.eot");
  src: local("☺"), url("../../fonts/Quicksand-Bold.woff") format("woff"), url("../../fonts/Quicksand-Bold.ttf") format("truetype"), url("../../fonts/Quicksand-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype"), url("../../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../../fonts/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat-Bold.ttf") format("truetype"), url("../../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/MaterialIcons-Regular.eot");
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../../fonts/MaterialIcons-Regular.woff2") format("woff2"), url("../../fonts/MaterialIcons-Regular.woff") format("woff"), url("../../fonts/MaterialIcons-Regular.ttf") format("truetype");
}

.text-field {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  height: 44px;
  width: 320px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 14px;
  color: rgba(31, 32, 65, 0.25);
}

.text-field::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.text-field:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.text-field::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.text-field::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.text-field:focus, .text-field:hover {
  border-color: rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}

.text-field:focus::-webkit-input-placeholder, .text-field:hover::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.text-field:focus:-ms-input-placeholder, .text-field:hover:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.text-field:focus::-ms-input-placeholder, .text-field:hover::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.text-field:focus::placeholder, .text-field:hover::placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.dropdown {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  width: 320px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

option {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  width: 320px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.border-of-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  padding: 12px 2px 15px 2px;
  border-radius: 50px;
  vertical-align: top;
}

.border-of-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.5)), to(rgba(139, 164, 249, 0.5)));
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

.button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  border-radius: 22px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.button_border {
  padding: 12.5px 17px;
  color: #bc9cff;
  background-color: #ffffff;
}

.button_fill {
  padding: 15px 20px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.button_fill:hover {
  opacity: 0.5;
}

.button_text {
  color: #bc9cff;
}

.button_text:hover {
  color: rgba(31, 32, 65, 0.5);
}

.button_arrow {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  width: 320px;
}

.button_arrow::after {
  position: absolute;
  display: block;
  right: 0px;
  top: 0px;
  width: 44px;
  text-align: center;
  content: "arrow_forward";
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 24px;
  line-height: 44px;
  color: #ffffff;
}

.button_arrow:hover {
  opacity: 0.5;
}

.button_arrow_forward_alrrow {
  position: absolute;
  right: 12px;
  top: 13px;
}

.pagination {
  width: 240px;
}

.pagination__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  width: 40px;
  line-height: 40px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
}

.pagination__link_selected {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  line-height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #ffffff;
}

.pagination__link_selected:hover {
  opacity: 0.5;
}

.pagination__link_arrow {
  font-family: "Material Icons";
  font-size: 24px;
  text-transform: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#66d2ea));
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
  color: white;
}

.pagination__link_arrow:hover {
  opacity: 0.5;
}

.pagination__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-top: 6px;
  color: rgba(31, 32, 65, 0.75);
  text-align: center;
}

.range-slider {
  display: inline-block;
  padding-bottom: 5px;
}

.range-slider__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  color: #1f2041;
}

.range-slider__subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  float: right;
  color: rgba(31, 32, 65, 0.5);
}

.range-slider__slider-area {
  position: relative;
  margin-top: 23px;
  height: 6px;
  width: 266px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.range-slider__slider-1, .range-slider__slider-2, .range-slider__slider-zone {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#66d2ea));
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  display: block;
}

.range-slider__slider-1, .range-slider__slider-2 {
  width: 12px;
  height: 12px;
  top: -5px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.range-slider__slider-1:hover, .range-slider__slider-2:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9fdfba), to(#9ee2f2));
  background: linear-gradient(180deg, #9fdfba 0%, #9ee2f2 100%);
  -webkit-box-shadow: 0px 0px 3px 3px #6fcf97;
          box-shadow: 0px 0px 3px 3px #6fcf97;
}

.range-slider__slider-1 {
  left: 77px;
}

.range-slider__slider-2 {
  right: 92px;
}

.range-slider__slider-zone {
  width: 88px;
  height: 6px;
  left: 82px;
}

.bullet-list {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  width: 260px;
}

.bullet-list__title {
  padding-bottom: 16px;
  padding-left: 0px;
  list-style: none;
}

.bullet-list__item {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  text-transform: none;
  padding-left: 20px;
  margin-top: 10px;
}

.bullet-list__item:first-child {
  margin-top: 13px;
}

.bullet-list__item::before {
  position: absolute;
  left: 0px;
  top: 7px;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
}

.checkbox__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 16px;
}

.checkbox__list {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  list-style: none;
  padding-left: 0px;
  width: 222px;
}

.checkbox__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__checkbox:hover + .checkbox__label::before {
  -webkit-box-shadow: 0px 0px 3px 3px #bc9cff;
          box-shadow: 0px 0px 3px 3px #bc9cff;
}

.checkbox__checkbox:checked + .checkbox__label::before {
  border-color: #bc9cff;
  background-position: center;
}

.checkbox__label {
  display: block;
  position: relative;
  margin-left: 30px;
  margin-top: 11px;
  line-height: 18px;
  min-height: 20px;
}

.checkbox__label::before {
  position: absolute;
  left: -30px;
  content: "";
  display: inline-block;
  top: 0px;
  margin-right: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  background: url("../../img/check-mark.svg") no-repeat;
  background-position: -10px -10px;
}

.radio-button__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

.radio-button__radio-button {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-button__radio-button:checked + .radio-button__label::after {
  width: 12px;
  height: 12px;
  top: 4px;
  left: -25px;
}

.radio-button__radio-button:hover + .radio-button__label::before {
  -webkit-box-shadow: 0px 0px 3px 3px #bc9cff;
          box-shadow: 0px 0px 3px 3px #bc9cff;
}

.radio-button__label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-left: 30px;
  margin-right: 15px;
  position: relative;
}

.radio-button__label::before {
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  position: absolute;
  left: -29px;
  content: "";
  display: inline-block;
  top: 0px;
  margin-right: 10px;
  border: 1px solid #bc9cff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.radio-button__label::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  position: absolute;
  left: -19px;
  content: "";
  display: inline-block;
  top: 10px;
  margin-right: 10px;
  border-radius: 50%;
  width: 0px;
  height: 0px;
}

.toggle-button__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

.toggle-button__label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-left: 50px;
  position: relative;
}

.toggle-button__label::before {
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  position: absolute;
  content: "";
  width: 40px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  left: -50px;
  top: -1px;
}

.toggle-button__label::after {
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  left: -46px;
  top: 3px;
}

.toggle-button__toggle {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.toggle-button__toggle:hover + .toggle-button__label::before {
  -webkit-box-shadow: 0px 0px 3px 3px #bc9cff;
          box-shadow: 0px 0px 3px 3px #bc9cff;
}

.toggle-button__toggle:checked + .toggle-button__label::before {
  border-color: #bc9cff;
}

.toggle-button__toggle:checked + .toggle-button__label::after {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.like-button__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

.like-button__like {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.like-button__like:checked + .like-button__label {
  color: #bc9cff;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.like-button__like:checked + .like-button__label::before {
  content: "favorite";
  color: #bc9cff;
}

.like-button__like:checked + .like-button__label::after {
  border: none;
  top: 1px;
  left: 1px;
}

.like-button__like:hover + .like-button__label {
  -webkit-box-shadow: 0px 0px 3px 3px #bc9cff;
          box-shadow: 0px 0px 3px 3px #bc9cff;
}

.like-button__like::after {
  border: none;
  top: 1px;
  left: 1px;
}

.like-button__label {
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  margin-top: 16px;
  height: 20px;
  width: 40px;
  border-radius: 10px;
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  color: rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.like-button__label::before {
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  display: inline-block;
  width: 19px;
  height: 18px;
  content: "favorite_border";
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: rgba(31, 32, 65, 0.25);
}

.like-button__label::after {
  -webkit-transition: 0.25s ease-out, top 0s, left 0s;
  transition: 0.25s ease-out, top 0s, left 0s;
  position: absolute;
  display: inline-block;
  background-color: #ffffff;
  width: 38px;
  height: 18px;
  z-index: 100;
  left: 0px;
  top: 0px;
  border-radius: 9px;
  z-index: -1;
  content: "";
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.rate-button__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

.rate-button__box {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  margin-top: 18px;
  font-size: 0px;
  width: 120px;
  height: 20px;
}

.rate-button__rate {
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.rate-button__label {
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  mix-blend-mode: screen;
  background-color: #ffffff;
}

.subscription-text-field {
  position: relative;
  width: 267px;
}

.subscription-text-field__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 5px;
}

.subscription-text-field__email {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  width: 267px;
  height: 44px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.subscription-text-field__submit {
  position: absolute;
  opacity: 0;
}

.subscription-text-field__submit-box {
  position: absolute;
  right: 10px;
  top: 30px;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.subscription-text-field__submit-label {
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  mix-blend-mode: screen;
  background-color: #ffffff;
}

.features__list {
  list-style: none;
  padding-left: 0px;
}

.features__item {
  width: 280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
  padding-left: 58px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  height: 69px;
}

.features__item:last-of-type {
  margin-bottom: 0px;
}

.features__ico {
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  mix-blend-mode: screen;
  background-color: #ffffff;
}

.features__box {
  position: absolute;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  width: 48px;
  height: 48px;
  left: 0px;
}

.features__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.features__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  text-transform: none;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.div {
  margin-bottom: 15px;
}
/*# sourceMappingURL=style.css.map */