mixin like-button (quantity=0, checked='')
    -let likeClass = 'like-button';
    if checked
        -likeClass += ' like-button_liked'
    div(class=likeClass)
        .like-button__text=quantity    