mixin range-slider
    .range-slider
        input(id="demo_2" type="text" name="" value="" class="range-slider__value" tabindex="-1" readonly="")

    //span.range-slider__slider-zone
            span.range-slider__slider-1
            span.range-slider__slider-2
            