mixin calendar

        .calendar
            <div class="datepicker-here"></div>
                input(type="text"
                    class="datepicker-here"
                    data-multiple-dates="3"
                    data-multiple-dates-separator=", "
                    data-position='right top')
