@import "../../template/template.scss";
.date-dropdown {
  position: relative;
  &__controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    grid-auto-flow: column;
  }
  &__input {
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;//150px;
    padding-left: 14px;
    height: 44px;
    margin-top: 6px;
    @include text("body");
    outline: none;
    cursor: pointer;
  }
  &__label {
    position: relative;
    cursor: pointer;
    @include text("h3");
    &::before {
      content: "expand_more";
      @include text("material");
      text-transform: none;
      position: absolute;
      top: 36px;
      right: 10px;
      font-size: 24px;
      color: $dark-shade50;
    }
  }

  &__calendar {
margin-top: 6px;
position: absolute;
width: 100%;
  }
}
