.date-dropdown {
    width: 150px;
    height: 44px;
    @include border;
    padding-left: 14px;
    padding-top: 9px;

    &__expand {
        float: right;
        @include material-font;
        width: 42px;
        line-height: 26px;
        font-size: 24px;
        text-align: center;
    }
}