mixin slider(template='../src/img/rooms/room-2.jpg')
    .slider
        +slider-image(template)
        +slider-image('./images/rooms/room-2.jpg')
        +slider-image('./images/rooms/room-3.jpg')
        +slider-image('./images/rooms/room-4.jpg')

mixin slider-image(template='')
    .slider__item
            img(
                data-lazy=template
                alt="Фото комнаты")