mixin slider(template='')
    .slider
        +slider-image(template)
        +slider-image('../src/img/rooms/room-2.png')
        +slider-image('../src/img/rooms/room-3.png')
        +slider-image('../src/img/rooms/room-4.png')

mixin slider-image(template='')
    .slider__item
            img(
                data-lazy=template
                alt="Фото комнаты")