mixin text-field(placeholder, type='text', partclass="")
    .text-field
        input(
            type=type,
            class='text-field__input' + partclass,
            placeholder=placeholder
            )
        block
        