.dropdown {
    max-width: 320px;
    height: 44px;

    @include border;
    padding-left: 13px;
    padding-top: 8px;
    color: $dark-shade75;

    &__expand {
        float: right;
        @include material-font;
        width: 42px;
        line-height: 26px;
        font-size: 24px;
        text-align: center;
        color: $dark-shade50;
    }
}