@import "../../template/template.scss";

.dropdown {
  max-width: 320px;
  position: relative;
  @include border;
  box-sizing: border-box;
  &_expanded {
    border-color: $dark-shade50;
    border-radius: 2px 2px 0 0;}

&__text{
    height: 44px;
    padding-left: 13px;
    padding-top: 8px;
    color: $dark-shade75;
    background: #ffffff;
    &::after {
        content: 'expand_more';
      float: right;
      @include material-font;
      width: 42px;
      line-height: 26px;
      font-size: 24px;
      text-align: center;
      color: $dark-shade50;
    }
    &_expanded::after {
            content: 'expand_less';
        }
}

  &_for-room {
    width: 266px;
  }
  &__menu {
      position: absolute;
      top: 43px;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 1;
    @include border;
    border-top: none;
    border-color: $dark-shade50;
    border-radius: 0 0 2px 2px;
    display: none;
    &_showed {
      display: block;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 7px 3px 15px;
  }

  &__name {
    @include h3-text;
  }

  &__button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid $dark-shade25;
    color: $dark-shade50;
    background-color: #fff;
    outline: none;
    &:disabled{
        opacity: 0.5;
    }
  }

  &__quantity {
    @include h3-text;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92px;
  }
}
