include ../../template/template

mixin block-wrapper(title, subtitle)
    .block-wrapper
        .block-wrapper__text
            h3.block-wrapper__title=title
            span.block-wrapper__subtitle=subtitle
        .block-wrapper__block
            block

+logo(true)
.container
    .wrapper
        +block-wrapper('Text Field', 'Default')
            +text-field('Email', 'email')
        +block-wrapper('Text Field', 'Hover / Focus')
            +text-field('This is pretty awesome')
        +block-wrapper('Dropdown', 'Default')
            +dropdown('Сколько гостей')
        +block-wrapper('masked text field', 'Default')
            +text-field('ДД.ММ.ГГГГ')
        div(style="display: flex; width: 320px; justify-content: space-between; margin-top: 36px;")
            +block-wrapper('date Dropdown')
                +date-dropdown('ДД.ММ.ГГГГ')
            +block-wrapper('date Dropdown')
                +date-dropdown('19.08.2019')
        +block-wrapper('filter date dropdown')
            +filter-date-dropdown('19 авг - 23 авг')
        +block-wrapper('subscription text field')
            +subscription-text-field('Email')
    .wrapper
        +block-wrapper('Checkbox Buttons')
            +checkbox-buttons('Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)')
        +block-wrapper('radio Buttons')
            +radio-buttons
        +block-wrapper('Toggle')
            +toggle('Получать спецпредложения', 1)
            +toggle('Получать спецпредложения')
        +block-wrapper('like button')
            .wrapper-inline-block
                +like-button(2)
            .wrapper-inline-block
                +like-button(12,1)
        +block-wrapper('rate button')
            .wrapper-inline-block
                +rate-button(4)
            .wrapper-inline-block
                +rate-button(5)            