@import "./mixins.scss";

body,
a,
button,
ul {
  @include body-text;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  @include h1-text;
}

h2 {
  @include h2-text;
}

h3 {
  @include h3-text;
}
body {
  margin: 0;
}
