mixin search-room(isShow)
    .search-room
        .search-room__container
            h1.search-room__title Найдём номера под ваши пожелания
            .search-room__date
                +calendar(isShow)
            .search-room__guest
                h3.search-room__subtitles гости
                +dropdown('guest', 0, 1, 0,0,0)
            .search-room__button
                +button-arrow('подобрать номер')

            