include ../../template/template

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
    body
        .wrapper
            h1.name fTigran
        .container
            ul  UI kit
                li
                    a(href="colors-and-type.html") colors-and-type
                li
                    a(href="form-elements.html") form-elements
                li
                    a(href="headers-and-footers.html") headers-and-footers
                li
                    a(href="cards.html") cards
            ul  website Pages
                li
                    a(href="landing-page.html") landing-page
                li
                    a(href="search-room.html") search-room
                li
                    a(href="room-details.html") room-details
                li
                    a(href="registration.html") registration
                li
                    a(href="sign-in.html") sign-in
                