include ../../template/template

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
    body
        nav
            ul  UI kit
                li
                    a(href="colors-and-type.html") colors-and-type
                li
                    a(href="form-elements.html") form-elements
                li
                    a(href="headers-and-footers.html") headers-and-footers
                li
                    a(href="cards.html") cards
            
        +range-slider
        +rich-checkbox-buttons({
                        items:[
                            {
                            title:'Широкий коридор',
                            subtitle:'Ширина коридоров в номере не менее 91 см.'
                            },
                            {
                            title:'Помощник для инвалидов',
                            subtitle:'На 1 этаже вас встретит специалист и проводит до номера.'
                            }
                            ]})