nav
    ul  
        li
            a(href="colors-and-type.html") colors-and-type
        li
            a(href="form-elements.html") form-elements
        li
            a(href="headers-and-footers.html") headers-and-footers
        li
            a(href="cards.html") cards
        