mixin subscription-text-field(text='', partclass='')
    .subscription-text-field
        +text-field(text, partclass)
            span.subscription-text-field__ico-wrapper
                span.subscription-text-field__ico arrow_forward

        