mixin subscription-text-field(text='',type='text', partclass='')
    .subscription-text-field
        +text-field(text, type, partclass)
            span.subscription-text-field__ico-wrapper
                span.subscription-text-field__ico arrow_forward

        