mixin room-card(number='', price='', stars=0, reviews=0, extra)
    .room-card
        +slider
        .room-card__container
            .room-card__number=number
                span.room-card__extra=extra
            .room-card__price=price+'₽'
                span.room-card__price-subtitle
        hr.room-card__separator
        .room-card__container
            +rate-button(stars)
            .room-card__reviews=reviews
                span.room-card__reviews-subtitle Отзывов
        