include ../../template/template
<script src="https://kit.fontawesome.com/0c7ad43876.js" crossorigin="anonymous"></script>
+logo(1)
.container
    +header
    p '
    +header('Юлий Цезарь')
    p '
    +footer
