@import "../../template/template.scss";
.features-list {
  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    width: 280px;
    list-style: none;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    &:last-of-type{
      margin-bottom: 0;
    padding-bottom: 0;
    border: none;
    }
  }

  &__ico {
    @include text("material");
    mix-blend-mode: screen;
    background-color: #ffffff;

    font-size: 48px;
    line-height: 48px;
    &-box {
      width: 48px;
      height: 48px;
      @include gradient;
    }
  }
  &__text {
    margin-left: 10px;
  }
  &__title {
    text-transform: none;
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
  }

  &__subtitle {
  }
}
