
body{    background-color: #E5E5E5;
margin: 0;}
.header {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    background-color: #ffffff;
    vertical-align: middle;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    padding: 15px 140px 15px 140px;
    &__logo {    margin-bottom: auto;

    }

    &__menu {
    }
&__container{
    float: right;
}
&__menu {
}

&__button { 
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
    border: none;
    text-transform: uppercase;
    margin-left: 20px;
    &_login {
        color: #bc9cff;
        padding: 9px 20px 10px 20px;
        &::before {
            position: absolute;
            left: 2px;
            top: 2px;
            background: #ffffff;
            width: 23px;
            height: 30px;
            border-radius: 15px;
            content: "";
        }
    }

    &_registration {
        padding: 9px 20px 10px 19px;
        color: #ffffff;
    }
}
}
.logo {
    width: 105.69px;
    height: 40px;
    &__link {        font-size: 0px;

    }

    &__logo {
        line-height: 0;
        padding: 0px;
    }

    &__caption {
        width: 53.19px;
        height: 12.95px;
        margin: 13.33px auto 13.72px 2.5px;
    }
}
.menu {
    &__item {
        text-decoration: none;;
        color: rgba(31, 32, 65, 0.5);

        &_selected {
            font-weight: bold;
            color: rgba(31, 32, 65, 0.75);
        }
    }
}

