.enter-page {
  background: url("../../img/login-background.jpg") no-repeat;
  background-size: cover;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 684px;
  }
  &__block {
    flex-grow: 1;
    max-width: 380px;
  }
}
body {
  padding-top: 70px;
}
