.button {
  @include h3-text;
  text-transform: uppercase;
  color: #bc9cff;
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &_gray {
    color: $dark-shade50;
  }
}
