mixin rate-button(rate=0)
    .rate-button
        -let stars=''
        -for (let i=0; i<5;i++)
            if rate>i
                span.rate-button__items star 
            else
                span.rate-button__items star_border