.rate-button {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    width: 120px;
    height: 20px;

    &__items {
        @include material-font;
        display: inline-block;
        font-size: 24px;
        line-height: 20px;
        mix-blend-mode: screen;
        color: #000;
        background-color: #ffffff;
    }
}