-var ncheckbox = 0
mixin checkbox-buttons(...items)
    ul.checkbox-buttons__list
        each item in items
            - ncheckbox = ncheckbox + 1
            li.checkbox-buttons__item
                input(type="checkbox", class="checkbox-buttons__checkbox" id="checkbox"+ncheckbox)
                label(class="checkbox-buttons__label" for="checkbox"+ncheckbox)=item
