mixin header(login, isSelected)
    header.header
        .header__container
            +logo
            .header__menu
                .header__burger
                    span.header__burger-line
                nav.header__nav
                    ul.header__list
                        li.header__item
                            if isSelected
                                a.header__link.header__link_selected(href="empty") О нас
                            else
                                a.header__link(href="empty") О нас                            
                        li.header__item
                            a.header__link(href="empty") Услуги
                                span.header__expansion-ico expand_more
                        li.header__item
                            a.header__link(href="empty") Вакансии
                        li.header__item
                            a.header__link(href="empty") Новости
                        li.header__item
                            a.header__link(href="empty") Соглашения
                                span.header__expansion-ico expand_more
                
                if login
                    span.header__user-line
                    a.header__link.user(href="empty")
                        .user__ico face
                        .user__name=login
                else                    
                    a.header__link.login(href="./enter.html")
                        .login__ico input
                        .login__button
                            +button-border('войти')
                    a.header__link.reg(href="./registration.html")
                        .reg__ico account_circle
                        .reg__button
                            +button-fill('зарегистрироваться')
                    
    
    if login
