mixin header(login, isSelected)
    header.header
        .header__container
            +logo
            .header__menu
                .header__burger
                    span.header__burger-line
                nav.header__nav
                    ul.header__list
                        li.header__item
                            if isSelected
                                a.header__link.header__link_selected(href="empty") О нас
                            else
                                a.header__link(href="empty") О нас                            
                        li.header__item
                            a.header__link(href="empty") Услуги
                                span.header__expansion-ico expand_more
                        li.header__item
                            a.header__link(href="empty") Вакансии
                        li.header__item
                            a.header__link(href="empty") Новости
                        li.header__item
                            a.header__link(href="empty") Соглашения
                                span.header__expansion-ico expand_more
                
                if login
                    .header__user face
                    span.header__user-line
                    a.header__link.header__link_user=login
                else
                    .header__guest account_circle
                    .header__guest-links
                    a.header__link.header__link_login-button(href="empty")
                        +button-border('войти')
                    a.header__link.header__link_enter-button(href="empty")
                        +button-fill('зарегистрироваться')
                    
    
    if login
