.button-arrow {
    @include h3-text;
    position: relative;
    min-width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: #fff;
    border: none;
    &:hover{
        opacity: 0.5;
    }
    &::after {
        position: absolute;
        content: "arrow_forward";
        text-transform: none;
        font-size: 24px;
        @include material-font;
        right: 10px;
    }
}