@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@font-face {
    font-family: "Quicksand";
    src: url("../../fonts/Quicksand-Bold.eot");
    src: local("☺"), url("../../fonts/Quicksand-Bold.woff") format("woff"),
        url("../../fonts/Quicksand-Bold.ttf") format("truetype"), url("../../fonts/Quicksand-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat-Regular.eot");
    src: local("☺"), url("../../fonts/Montserrat-Regular.woff") format("woff"),
        url("../../fonts/Montserrat-Regular.ttf") format("truetype"),
        url("../../fonts/Montserrat-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat-Bold.eot");
    src: local("☺"), url("../../fonts/Montserrat-Bold.woff") format("woff"),
        url("../../fonts/Montserrat-Bold.ttf") format("truetype"), url("../../fonts/Montserrat-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/MaterialIcons-Regular.eot");
    src: local("Material Icons"), local("MaterialIcons-Regular"),
        url("../../fonts/MaterialIcons-Regular.woff2") format("woff2"),
        url("../../fonts/MaterialIcons-Regular.woff") format("woff"),
        url("../../fonts/MaterialIcons-Regular.ttf") format("truetype");
}

@mixin h1-text {
    font-family: Quicksand, "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1f2041;
}

@mixin h2-text {
    font-family: Quicksand, "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1f2041;
}

@mixin h3-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
}

@mixin body-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

$dark-shade100: #1f2041;
$dark-shade75: rgba(31, 32, 65, 0.75);
$dark-shade50: rgba(31, 32, 65, 0.5);
$dark-shade25: rgba(31, 32, 65, 0.25);
$dark-shade5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

.text-field {
    @include body-text;
    height: 44px;
    width: 320px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 14px;
    color: $dark-shade25;
    &::placeholder {
        color: $dark-shade25;
    }
    &:focus,
    &:hover {
        border-color: rgba(31, 32, 65, 0.5);
        color: $dark-shade75;
        &::placeholder {
            color: $dark-shade75;
        }
    }
}
.dropdown {
    @include body-text;

    width: 320px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}
option {
    @include body-text;

    width: 320px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}
.border-of-button {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    padding: 12px 2px 15px 2px;
    border-radius: 50px;
    vertical-align: top;
    &:hover {
        background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
    }
}
.button {
    @include h3-text;
    border-radius: 22px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;

    &_border {
        padding: 12.5px 17px;

        color: #bc9cff;
        background-color: #ffffff;
    }

    &_fill {
        padding: 15px 20px;
        color: #ffffff;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        &:hover {
            opacity: 0.5;
        }
    }
    &_text {
        color: #bc9cff;
        &:hover {
            color: rgba(31, 32, 65, 0.5);
        }
    }
    &_arrow {
        position: relative;
        padding: 15px 94px;
        color: #ffffff;

        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        &:hover {
            opacity: 0.5;
        }
        &_forward_arrow {
            position: absolute;
            right: 12px;
            top: 13px;
        }
    }
}
.pagination {
    width: 240px;
    &__pages {
        display: flex;
    }

    &__link {
        @include h3-text;
        width: 40px;
        line-height: 40px;
        font-weight: normal;
        text-decoration: none;
        text-align: center;
        color: $dark-shade50;
        &_selected {
            @include h3-text;
            line-height: 40px;
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            border-radius: 22px;
            color: #ffffff;
            &:hover {
                opacity: 0.5;
            }
        }

        &_arrow {
            font-family: "Material Icons";
            font-size: 24px;
            text-transform: none;
            background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
            border-radius: 22px;
            color: white;
            &:hover {
                opacity: 0.5;
            }
        }
    }

    &__text {
        @include body-text;
        margin-top: 6px;
        color: $dark-shade75;
        text-align: center;
    }
}

.range-slider {
    display: inline-block;
    padding-bottom: 5px;
    &__title {
        @include h3-text;
        color: $dark-shade100;
    }

    &__subtitle {
        @include body-text;
        float: right;
        color: $dark-shade50;
    }

    &__slider-area {
        position: relative;
        margin-top: 23px;
        height: 6px;
        width: 266px;
        border: 1px solid $dark-shade25;
        box-sizing: border-box;
        border-radius: 3px;
    }

    &__slider-1,
    &__slider-2,
    &__slider-zone {
        position: absolute;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        display: block;
    }
    &__slider-1,
    &__slider-2 {
        width: 12px;
        height: 12px;
        top: -5px;
        border: 2px solid #ffffff;
        border-radius: 10px;
        transition: 0.25s ease-out;

        &:hover {
            background: linear-gradient(180deg, lighten(#6fcf97, 12.5%) 0%, lighten(#66d2ea, 12.5%) 100%);
            box-shadow: 0px 0px 3px 3px $green;
        }
    }
    &__slider-1 /*test*/ {
        left: 77px;
    }
    &__slider-2 /*test*/ {
        right: 92px;
    }
    &__slider-zone {
        width: 88px;
        height: 6px;
        left: 82px;
    }
}

.bullet-list {
    @include h3-text;
    width: 260px;
    &__title {
        padding-bottom: 16px;
        padding-left: 0px;
        list-style: none;
    }
    &__item {
        position: relative;
        @include body-text;
        text-transform: none;
        padding-left: 20px;
        margin-top: 10px;
        &:first-child {
            margin-top: 13px;
        }
        &::before {
            position: absolute;
            left: 0px;
            top: 7px;
            content: "";
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: rgba(31, 32, 65, 0.25);
        }
    }
}

.checkbox {
    &__title {
        @include h3-text;
        margin-bottom: 16px;
    }

    &__list {
        @include body-text;
        list-style: none;
        padding-left: 0px;
        width: 222px;
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:hover + .checkbox__label::before {
            box-shadow: 0px 0px 3px 3px $purple;
        }
        &:checked + .checkbox__label::before {
            border-color: #bc9cff;
            background-position: center;
        }
    }

    &__label {
        display: block;
        position: relative;
        margin-left: 30px;
        margin-top: 11px;
        line-height: 18px;
        min-height: 20px;
        &::before {
            position: absolute;
            left: -30px;
            content: "";
            display: inline-block;
            top: 0px;
            margin-right: 10px;
            border: 1px solid $dark-shade25;
            box-sizing: border-box;
            border-radius: 4px;
            width: 20px;
            height: 20px;
            transition: 0.25s ease-out;
            background: url("../../img/check-mark.svg") no-repeat;
            background-position: -10px -10px;
        }
    }
}

.radio-button {
    &__title {
        @include h3-text;
    }

    &__radio-button {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + .radio-button__label::after {
            width: 12px;
            height: 12px;
            top: 4px;
            left: -25px;
        }
        &:hover + .radio-button__label::before {
            box-shadow: 0px 0px 3px 3px $purple;
        }
    }

    &__label {
        @include body-text;
        margin-left: 30px;
        margin-right: 15px;
        position: relative;
        &::before {
            transition: 0.25s ease-out;
            position: absolute;
            left: -29px;
            content: "";
            display: inline-block;
            top: 0px;
            margin-right: 10px;
            border: 1px solid #bc9cff;
            box-sizing: border-box;
            border-radius: 50%;
            width: 20px;
            height: 20px;
        }
        &::after {
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            transition: 0.25s ease-out;
            position: absolute;
            left: -19px;
            content: "";
            display: inline-block;
            top: 10px;
            margin-right: 10px;
            border-radius: 50%;
            width: 0px;
            height: 0px;
        }
    }
}

.toggle-button {
    &__title {
        @include h3-text;
    }

    &__label {
        @include body-text;
        margin-left: 50px;
        position: relative;
        &::before {
            transition: 0.25s ease-out;
            position: absolute;
            content: "";
            width: 40px;
            height: 20px;
            box-sizing: border-box;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 10px;
            left: -50px;
            top: -1px;
        }
        &::after {
            transition: 0.25s ease-out;
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            box-sizing: border-box;
            background: rgba(31, 32, 65, 0.25);
            border-radius: 10px;
            left: -46px;
            top: 3px;
        }
    }
    &__toggle {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:hover + .toggle-button__label {
            &::before {
                box-shadow: 0px 0px 3px 3px $purple;
            }
        }
        &:checked + .toggle-button__label {
            &::before {
                border-color: #bc9cff;
            }
            &::after {
                transform: translateX(20px);
                background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            }
        }
    }
}

.like-button {
    &__title {
        @include h3-text;
    }

    &__like {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + .like-button__label {
            color: $purple;
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            &::before {
                content: "favorite";
                color: $purple;
            }
            &::after {
                border: none;
                top: 1px;
                left: 1px;
            }
        }
        &:hover + .like-button__label {
            box-shadow: 0px 0px 3px 3px $purple;
        }
        &::after {
            border: none;
            top: 1px;
            left: 1px;
        }
    }

    &__label {
        transition: 0.25s ease-out;

        margin-top: 16px;
        height: 20px;
        width: 40px;
        border-radius: 10px;
        position: relative;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        display: flex;
        align-items: center;
        z-index: 10;
        color: $dark-shade25;
        box-sizing: border-box;
        &::before {
            transition: 0.25s ease-out;

            display: inline-block;
            width: 19px;
            height: 18px;
            content: "favorite_border";
            font-family: "Material Icons";
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 18px;
            text-align: center;
            color: $dark-shade25;
        }
        &::after {
            transition: 0.25s ease-out, top 0s, left 0s;
            position: absolute;
            display: inline-block;
            background-color: #ffffff;
            width: 38px;
            height: 18px;
            z-index: 100;
            left: 0px;
            top: 0px;
            border-radius: 9px;
            z-index: -1;
            content: "";
            border: 1px solid rgba(31, 32, 65, 0.25);
        }
    }
}

.rate-button {
    &__title {
        @include h3-text;
    }
    &__box {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        margin-top: 18px;
        font-size: 0px;
        width:120px;
    }

    &__rate {
        position: absolute;
        z-index: 2;
        opacity: 0;
        &:hover+.rate-button__label{
        }
        &:checked+.rate-button__label{
                    }
    }

    &__label {
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 20px;
        mix-blend-mode: screen;
        background-color: #ffffff;

    }
}

.div {
    margin-bottom: 15px;
}
