@import "../../template/template.scss";
@import "../../styles/body.scss";

body {
  background: #e5e5e5;
}

.container {
  padding: 72px 140px 140px 62px;
  display: flex;
}
.col {
  min-width: 460px;
  flex-shrink: 0;
}
.wrapper {
  margin: 40px;
}
